/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16.06.2016, 2:18:43
    Author     : USER
*/
body
{
    background: #333;
}

#map
{
    display: block;
    background: #fff;
    margin: 70px auto 0px;
}
